<!-- Displays track details including name, album with a link to Spotify, artists with links, duration, and a button to open the track on Spotify. The right column visualizes audio features. -->
<div *ngIf="track" class="row">
	<div class="col-6">
	  <h1>{{ track.name }}</h1>
	  <p>
		Track on
		<a href="https://open.spotify.com/album/{{ track.album?.id }}" target="_blank">{{ track.album?.name }}</a>
	  </p>
	  <div>
		<p>
		  Artist:
		  <span *ngFor="let artist of track.artists; let isLast=last">
			<a href="https://open.spotify.com/artist/{{ artist.id }}" target="_blank">{{ artist.name }}</a>{{isLast ? '' : ', '}}
		  </span>
		</p>
	  </div>
	  <p>Duration: {{ track.durationStr }}</p>
	  <p>
		<a class="btn btn-light" role="button" target="_blank" href="https://open.spotify.com/track/{{ track.id }}">Open {{ track.name }} on Spotify</a>
	  </p>
	</div>
	<div class="col-6">
		<div *ngFor="let feature of audioFeatures">
			<app-thermometer [featureName]="feature.name" [percentage]="feature.percentageString" [color]="feature.color"></app-thermometer>
		  </div>
	</div>
  </div>
  