<div *ngIf="artist" class="row">
    <div class="col-6">
        <h1>{{ artist.name }}</h1>
        <img id="artistImg" [src]="artist.imageURL" alt="{{ artist.name }}">
        <p>
            <a class="btn btn-light" role="button" target="_blank" 
               href="https://open.spotify.com/artist/{{ artistId }}">Open {{ artist.name }} on Spotify</a>
        </p>
    </div>
    <div class="col-2">
        <h3>Genres</h3>
        <ul>
            <!-- loop over artist's genres and display them -->
            <li *ngFor="let genre of artist.genres">{{ genre }}</li>
        </ul>
    </div>
    <div class="col-4">
        <h3>{{ artist.name }}'s Top Tracks</h3>
        <app-track-list *ngIf="topTracks" [tracks]="topTracks"></app-track-list>
    </div>
</div>

<div *ngIf="artist" class="row">
    <div class="col-6">
        <h3>{{ artist.name }}'s Albums</h3>
        <app-carousel *ngIf="albums" [resources]="albums" carouselId="artistAlbums"></app-carousel>
    </div>
    <div class="col-6">
        <h3>Similar Artists</h3>
        <app-carousel *ngIf="relatedArtists" [resources]="relatedArtists" carouselId="similarArtists"></app-carousel>
    </div>
</div>
